*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}
h1{
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 2rem 0;
}
#top{
    background-image: url("./images/pattern-bg-desktop.png");
    background-size: cover;
    overflow: hidden;
    height: 35vh;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: column;
    /* position: relative; */
}
#form{
    border-radius: 1rem;
    max-width: 500px;
    width: 50vw;
    display: flex;
}
input,button{
    outline: none;
    margin: 0;
    border: none;
}
input{
    flex: 9;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: hsl(0, 0%, 17%);
}
button{
    flex: 1;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem 0.5rem;
    background-color: hsl(0, 2%, 10%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#resultSection{
    background-color: white;
    max-width: 950px;
    width: 75vw;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    /* justify-content: space-between; */
    position: absolute;
    top: 26vh;
    z-index: 401;
}
.resultPart{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1rem;
    padding-left: 2rem;
    /* background-color: rgba(0, 0, 0, 0.103); */
}
.resultName{
    text-transform: uppercase;
    color: hsl(0, 0%, 59%);
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    letter-spacing: 150%;
}
.resultValue{
    font-size: 1.2rem;
    font-weight: 500;
    color: hsl(0, 0%, 17%);
}
.wall{
    height: 50px;
    align-self: center;
    border-right: 1px solid hsl(0deg 0% 59% / 56%);
}
#map{
    flex: 1;
}

@media only screen and (min-width: 720px) and (max-width: 992px) {
    #form{
        min-width: 400px;
    }
    #resultSection{
        width: 85vw;
        padding: 0.5rem;
    }
    .resultName{
        font-size: 0.7rem;
    }
    .resultValue{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 719px) {
    h1{
        margin: 1.75rem 0;
        font-size: 1.5rem;
    }
    #form{
        border-radius: 0.75rem;
        width: 87vw;
    }
    input{
        border-radius: 0.75rem 0 0 0.75rem;
        padding: 1rem 1rem;
        font-size: 1rem;
    }
    button{
        border-radius: 0 0.75rem 0.75rem 0;
    }
    #resultSection{
        width: 87vw;
        max-width: 500px;
        padding: 0.5rem;
        flex-direction: column;
        top: 21vh;
    }
    .wall{
        display: none;
    }
    .resultPart{
        padding: 0 1rem;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
    }
    #firstResultPart{
        margin-top: 1rem;
    }
    .resultName{
        font-size: 0.7rem;
        font-weight: 600;
        margin-bottom: 0.25rem;
        letter-spacing: 1px;
    }
    .resultValue{
        font-size: 1.3rem;
    }
}
@media only screen and (max-height: 700px) {
    h1{
        margin: 1rem;
    }
}

.leaflet-marker-icon{
    filter: drop-shadow(5px 1px 2px #000000);
    -webkit-filter: drop-shadow(5px 1px 2px #666666);
}
.leaflet-left .leaflet-control{
    position: fixed;
    bottom: 3rem;
    right: 1rem;
}
.boxShadow, .leaflet-left, .leaflet-control-zoom{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 600px) {
    #top{
        background-image: url("./images/pattern-bg-mobile.png");
    }
}

@media only screen and (max-width: 600px) {
    #top{
        background-image: url("./images/pattern-bg-mobile.png");
    }
    input{
        padding: 1.25rem 1rem;
        flex: 8.5;
    }
    button{
        flex: 1.5;
    }
}